<%= title "Advertise With Us" %>
<%= meta_description "Want to get your business in front of our user base? Check out our great advertising packages today." %>
<%= heading "Advertise with us" %>

<div class="row mt-3">
  <div class="col-lg-8">
    <p class="lead">Want your ad to reach thousands of users? Our platform offers multiple ad placements that can allow traffic to click through to your website. We currently offer 3 advert placement locations: Top of Feed, Sidebar and Sponsored posts.</p>

    <p class="h4 mt-4">Top of feed</p>
    <%= image_tag "banner-feed-top-placeholder.jpg" %>
    <p class="mt-3">This advert will appear directly at the top of the users feed. Graphic size should be 728x75px. Up to a total of 3 adverts can run in this placement. One banner will be selected at random on page load.</p>
    <p class="h5 mb-5">Price: $100 per banner/week</p>

    <hr />

    <p class="h4 mt-5">Sidebar</p>
    <%= image_tag "banner-sidebar-1-placeholder.jpg" %>
    <p class="mt-3">This advert will appear in the sidebar of the posts feed (on larger screen sizes such as tablet and desktop). Graphic size should be 350x150px. There are 2 banner placements on the sidebar, your advert can appear on either of these. Up to a total of 6 adverts can run in these ad placements. One banner will be selected at random on page load.</p>
    <p class="h5 mb-5">Price: $50 per banner/week</p>

    <hr />

    <p class="h4 mt-5">Sponsored Post</p>
    <p>This advert will appear embedded within within the feed as a sponsored post. You make the post as normal from your account, then send us the link to your post that you want to sponsor. Once approved our admin team will schedule it as a sponsored post.</p>
    <p class="h5">Price: $20 per post/week</p>

    <p class="mt-5"><strong>All prices are quoted for a 1 week period. If you want your ad placed longer, you can inform us. Ads are approved and scheduled by our admin team before they appear on the website.</strong></p>
  </div>
</div>
