<div class="container">
  <div class="row">
    <div class="col-sm-6 col-lg-8 mt-4">
      <h2 class="mb-4">Following</h2>

      <% if @accounts.size > 0 %>
        <% @accounts.each do |account| %>
          <div class="recommended-follower">
            <div class="row">
              <div class="col-2 col-lg-1">
                <%= link_to profile_picture(account, 36), profile_path(account.username) %>
              </div>
              <div class="col-10 col-lg-8">
                <%= render partial: "accounts/unfollow", locals: { account_id: account.id } if account_signed_in? && current_account.id == @account.id %>

                <%= link_to account.username, profile_path(account.username), class: "text-dark font-weight-bold" %>
                <p class="text-muted"><%= account.created_at > 2.days.ago ? "New User" : "Followed by #{account.total_followers} users" %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
      <p>No users to display.</p>
    <% end %>
    </div>
  </div>
</div>

<%= link_to "View all followers", all_followers_path %>
